body {color: #ffffff; background: #000000; padding: 5%; }

h1 { color: #000000; font-size: x-large; background: #008080; border: thin solid #00ffff; padding-top:0.3%;}
h2 { color: #00ffff; font-size: large; border-top: thin solid #00ffff; border-bottom: thin solid #00ffff; padding-top: 0.1%;}
h3 { color: #00ffff; font-size: medium; }

p { text-indent: 1em; }

hr { color: #00ffff; }

A:link { color: #00ffff; }
A:visited { color: #008080; }
A:hover { color: #00ff00; }
A:active { color: #ffff00; }

.source { color: #00ffff; border: thin solid #00ffff; margin: 1%; padding: 1%; }
.background { background: #000030; }